---
import Navigation from "../components/Navigation.astro";
import '../styles/global.css';

const pageTitle = "Mon blog d'apprentissage d'Astro";
---
<html lang="fr">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width" />
    <title>{pageTitle}</title>
  </head>
  <body>
    <Navigation />
    <h1>{pageTitle}</h1>
    <p>Voici où je vais publier mon parcours d'apprentissage d'Astro.</p>
  </body>
</html>