---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Blog d'apprentissage d'Astro";
---
<BaseLayout pageTitle={pageTitle}>
  <p>Voici où je vais publier mon parcours d'apprentissage d'Astro.</p>
</BaseLayout>
    
 